body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to top,#2c0757,#202372,#e096f7);
}
h1
{

    margin: 0;
    padding: 20px 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 8em;
    letter-spacing: .1em;
    transition: 1s;
    background-color: transparent;
    color: #fff;
    text-shadow: 0 5px 2px rgba(0,0,0,.2);
    overflow: hidden;
}
h1:hover
{
    background: #72c3ff;
}
h1:before
{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(skyline1.png);
    background-size: 48%;
    z-index: -1;
    
    animation: animateBefore 10s linear infinite;
    transition: .5s;
}
h1:hover:before
{
    
    top: 0;
}
@keyframes animateBefore
{
    0%
    {
        background-position: 100%;
    }
    100%
    {
        background-position: 0%;
    }
}
/* h1 after */
h1:after
{
    content: '';
    position: absolute;
    top: 150%;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(skyline.png);
    background-size: 46%;
    z-index: 1;
    animation: animateAfter 10s linear infinite;
    transition: .5s;
}
h1:hover:after
{
    top: 100px;
}
@keyframes animateAfter
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 100%;
    }
}